$body-color: #c9e4ff;

$alert-color: #ff4e28;

// Heading Color
$heading-color: #464646;

// Text Color
$text-color: #9b9b9b;

// Default Background
$bg-default: #40ba37;

$bg-light-green: #6bd42e;

$tag-bg: #40ba36;

$colour-btn-normal: #40ba37;
$colour-btn-normal-hover: #3d9133;

$colour-btn-red: #cd4833;
$colour-btn-red-hover: #bc4733;

// Gray Background
$bg-gray: #eceef1;

$input-bg: #f7f7f7;

$faint-grey: #b2b2b2;

$light-grey: #F6F6F6;

$recipe-list-background: #fbfbfb;

$sidebar-bg: #ffffff;

$content-container: #ffffff;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #141414;

// Border Color
$border-color: #1c8314;

// Hover Color
$hover-color: #40ba37;

// Footer Color
$footer-color: #2d2d2d;

// Secondary Color
$secondary-color: #3c3c3c;

// Text Color
$text-color2: #474747;
